#foot{
    border-top:#1e3056 2px solid;
    background-color:#000000;
    min-height:50px;
    position: relative;
    padding: 20px 0;
    color: #ffffcc;
}
.foot_right{
    text-align: center;
}
#up {
    width: 85px;
    border:rgba(30,48,86,.95) 2px solid;
    border-radius: 4px;
    background:#b9cfff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 17px;
    right: 17px;
    cursor: pointer;
    display: none;
    color:#000000;
    font-size: 90%;
    z-index:50;
}