#l1{
    position: fixed;
    top:0;
    left:0;
    height:80px;
    width:100%;
    background-color:#000000;
    border-bottom:#1e3056 2px solid;
    z-index:15;
}
#l1_back{
    height:80px;
    width:100%;
}
#l1_logo{
    float:left;
    overflow: hidden;
    height:78px;
    text-align:center;
    width:200px;
}

@media screen and (max-width:270px){
    #l1_logo{width:150px;}
}

#l1_logo img{
    padding:9px 0 0;
    height:100%;
}
.l1_r{
    overflow:hidden;
    height:78px;
    min-width:50px;
    max-width:calc(100% - 200px);

}
@media screen and (max-width:270px){
    .l1_r{
        position: fixed;
        top: 0;
        right: 0;
    }
}
/*******/
.l1_Login_btn{
    /*background-color: #7A7676;*/
    position: relative;
    float: right;
    min-height:78px;
    width:250px;
    display: flex;
    flex-wrap: wrap;
    align-content:space-around;
    justify-content:space-around;
    color: #fcfcfc;
}
@media screen and (max-width:540px){
    .l1_Login_btn{display: none}
}

#l1_reg_btn{
    position: relative;
    height:33px;
    width:133px;
    background:#050505 url("../../img/site/button_green.png") no-repeat;
    background-size: 105% 105%;
    cursor: pointer;
    line-height:30px;
    text-align: center;
    border:rgba(3,109,3,.8) 2px solid;
}
#l1_reg_btn:hover{
    color: #00A72D;
}
.l1_reg_btn_triangle{/*треугольник тень*/
    position: absolute;
    top:-2px;
    left:-2px;
    border-top:13px solid #000;
    border-right:13px solid transparent;
    display: block;
    width: 0;
    height: 0;
}
.l1_reg_btn_triangle_{/*треугольник черта*/
    border-left:rgba(3,109,3,.8) 2px solid;
    position:absolute;
    top:-3px;
    left:3px;
    width:4px;
    height:18px;
    transform:rotate(45deg);
}

#l1_log_btn{
    position: relative;
    height:33px;
    width:113px;
    background:#050505 url("../../img/site/button_green.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    border:rgba(3,109,3,.8) 2px solid;
}
#l1_log_btn:hover{
    color: #00A72D;
}
.l1_log_btn_triangle{/*треугольник тень*/
    position: absolute;
    top:-2px;
    right:-2px;
    border-top:13px solid #000;
    border-left:13px solid transparent;
    display: block;
    width:0;
    height:0;
}
.l1_log_btn_triangle_{/*треугольник черта*/
    border-left:rgba(3,109,3,.8) 2px solid;
    position:absolute;
    top:-3px;
    right:3px;
    width:4px;
    height:18px;
    transform:rotate(135deg);
}

/*********************************************************************/

#l1_pc_menu{
    /*background-color: #1bffff;*/
    overflow:hidden;
    height:78px;
    min-width:0;
    max-width:calc(100% - 250px);
}

@media screen and (max-width:733px){
    #l1_pc_menu{display:none}
}
/***********/
#l1_lng_trans{
    float:right;
    width: 200px;
    height:78px;
    text-align: center;
    padding:15px 0 0;
}

/*******************************************************/
.l1_mob_burger{
    display: none;
    float:right;
    /*background-color:#d456ff;*/
    overflow:hidden;
    min-height:78px;
    width:70px;
}
@media screen and (max-width:1070px){
    .l1_mob_burger{display: block}
}
@media screen and (max-width:520px){
/*    .l1_mob_burger{
        display: block;
        float: none;
        position:ab___________________;
        right: 10px;
        top: 5px;
        z-index: 100;
    }*/
}

#l1_mob_burger{

    margin:11px auto 0;
    /*background-color:#d4123f;*/
    overflow:hidden;
    height:55px;
    width:55px;
    cursor:pointer;
}

#l1_mob_burger:hover .l1_mob_burg_line{
    box-shadow:0 0 17px 8px rgba(25,123, 56,.2);
}
.l1_mob_burg_line{
    background:#197B38;
    height:5px;
    width:100%;
    margin-top:9px;
}
/******************/

#l1_mob_burger_can{
    display:none;
    background:#000 url("../../img/cab/menu_left.jpg") no-repeat;
    background-size: 100%;
    position:fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    height:100%;
    width:50%;
    z-index:1000;
    color: #ffffcc;
}

@media screen and (max-width:540px) {
    #l1_mob_burger_can {
        width:100%;
    }
}
.close_btn{
    width:30px;
    height:30px;
    position: absolute;
    right:5px;
    top:3px;
    text-align: center;
    line-height:30px;
    border-radius:50%;
    color:#ffffcc;
    background:#197B38;
    cursor: pointer;
}
.close_btn:hover{
    box-shadow:0 0 17px 8px rgba(25,123, 56,.2);
    color: #00A72D;
}
.l1_mob_bur_line{
    height:37px;
    width: 100%;
    line-height:33px;
    text-align: center;
    color:#1b6d85;
    border:#222222 1px dotted;
    cursor:pointer;
}

.l1_mob_bur_line a{
    color:#1b6d85;
    display:block;
    text-decoration:none;
}
.l1_mob_bur_line a:active{
    color: #1b6d85;
}
.l1_mob_bur_line a:visited{
    color: #1b6d85;
}
.l1_mob_bur_line a:hover,.l1_mob_bur_line:hover{
    color: #ffffcc;
}

/*******************************************/
#l1_pc_link{
    /*background-color:#12f155;*/
    overflow:hidden;
    min-height:78px;
    min-width:0;
    /*max-width:calc(100% - 200px);*/
}
@media screen and (max-width:1070px){
    #l1_pc_link{display:none}
}
#l1_pc_link_nav {
    margin:17px 0 0;
    padding: 0;
    list-style-type: none;
    width:100%;
    text-align: center;
    display: table;
}
#l1_pc_link_nav li {display: table-cell;}

#l1_pc_link_nav li:hover{
    border-bottom: #00A72D 2px solid;
}

#l1_pc_link_nav a {
    color:#b9cfff;
    padding:13px 3px 4px;
    text-decoration:none;
    font-weight: bold;
    display: inline-block;
}