*{box-sizing:border-box}
html, body {
    height: 100%;
    font: 15px Arial, Helvetica, sans-serif;
    text-align: justify;
    cursor: default;
    background-color: #000000;
    color: #fcfcfc;
}
h1, h2, h3, h4 {
    text-align: center;
    margin:15px auto;
    font-weight:normal;
}
h1{font-size:180%}
h2{font-size:130%}
h3{font-size:120%}
h1,h2,h3,h4{color:#fcfcfc}
p,ul{margin:5px;color:#fcfcfc;}
ul li{list-style-type: none}

A:link, .link {
    color:#fcfcfc;
    text-decoration:underline
}

A:active {
    color:#4CA5C6
}

A:visited {
    color:#fcfcfc
}

A:hover, .link:hover {
    color:#4CA5C6;
    text-decoration: blink
}
.maxw{
    margin: 0 auto;
    min-width: 150px;
    max-width: 1240px
}
.maxw8{
    margin:0 auto;
    width:80%;
}
.b_fon{
    position:relative;
    min-height:410px;
    background:#000000 url("../../img/index/fone5.jpg") repeat-y;
    background-size:100%;
    overflow:hidden;
}
.d_defs{
    min-height: 500px;
    width:100%;
}
#shadow{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:999;
    background:rgba(0,0,0,0.8);
}