#m_body{
   height:calc(100vh - 80px);
    background-color:#befffc;
}
@media screen and (max-width:475px){#m_body{height:calc(100vh - 127px)}}
#l_col{
    float:left;
    width:340px;
    height:calc(100vh - 80px);
    border-right:#4CA5C6 2px solid;
    overflow:hidden;
    background:#050505 url("../../img/cab/menu_left.jpg") no-repeat;
    background-size: 100% 100%;
    color:#fcfcfc;
}
@media screen and (max-width:475px){
    #l_col{display: none;}
}
#m_col{
    min-width:130px;
    max-width:calc(100% - 340px);
    height:calc(100vh - 80px);
    overflow-y:auto;
    overflow-x:hidden;
    background-color:#202020;
    color: #fcfcfc;
}
@media screen and (max-width:475px){
    #m_col{
        /*overflow: hidden;*/
        max-width:100%;
        width:100%;
        height:calc(100vh - 127px);
        /*height:unset;*/
    }
}
/********************************************************/
/********************************************************/
/***********************Left menu*********************************/
#lc_menu{
    position: relative;
    /*background-color: #a8a8a8;*/
}
.lc_menu_line{
    position:relative;
    width:100%;
    height:33px;
    /*background-color:#7A7676;*/
    text-align:left;
    margin:0 0 5px 0;
    line-height:32px;
}
.lc_menu_ico{
    position: absolute;
    top:0;
    left:57px;
    width:33px;
    height:100%;
    overflow: hidden;
    text-align: right;
}

.i_cab{background:#000 url("../../img/cab/ico/network.png") no-repeat;background-size:contain}
.i_bal{background:#000 url("../../img/cab/ico/mission.png") no-repeat;background-size:contain}
.i_partn{background:#000 url("../../img/cab/ico/communication.png") no-repeat;background-size:contain}
.i_l-up{background:#000 url("../../img/cab/ico/target.png") no-repeat;background-size:contain}
.i_sup{background:#000 url("../../img/cab/ico/digital_marketing.png") no-repeat;background-size:contain}
.i_promo{background:#000 url("../../img/cab/ico/analytics_2.png") no-repeat;background-size:contain}

/*тут все имена каждой полоске меню*/


.lc_menu_link_t{
    position:absolute;
    top:0;
    right:0;
    width:235px;
    height:100%;
    /*background-color: #3a2f15;*/

}
.lc_menu_link_t::before{
    content: "\00a0\00a0\00a0";
}
.lc_menu_line a:hover .lc_menu_link_t,.lc_menu_check{
    background:#000 url("../../img/cab/menu_left_board.png") no-repeat;
    background-size:100% 100%;
}

.lc_menu_line a{
    height:33px;
    background-size:32px 32px;
    color:#77e0ff;
    display:block;
    text-decoration:none
}
.lc_menu_line a:active{color:#77e0ff}
.lc_menu_line a:visited{color:#77e0ff}
.lc_menu_line a:hover{color:#16d57a}
/**************************partners***********************************************/
/**************************partners***********************************************/
/**************************partners***********************************************/






/**************************partners end***********************************************/
/**************************partners end***********************************************/
/**************************partners end***********************************************/


/***********************Left menu end*********************************/
/***********************Promo*********************************/
/***********************Promo start*********************************/
.d_promo{
    text-align:center;
    padding: 13px 0;
}
.d_promo img{height:100%;}
.d_promo_txt{
    position:relative;
    text-align: center;
    min-height:13px;
    padding: 13px 5px;
    border-radius: 7px;
    border:#333333 1px solid;
    overflow-wrap:break-word;
    width:80%;
    margin:15px auto;
    color:#fcfcfc;
}@media screen and (max-width:900px){.d_promo_txt{width:100%;}}
textarea.d_promo_code {
    font-size:1%;
    position:absolute;
    left:0;
    top:0;
    text-align: center;
    height:100%;
    width:100%;
    display:block;
    padding:13px 5px;
    border-radius:7px;
    border: #333333 1px solid;
    overflow-wrap:break-word;
    overflow:hidden;
    resize:none;
    color:transparent;
    opacity:1%;
}
/***********************Promo end*********************************/
/***********************Promo end*********************************/