*{box-sizing:border-box}
html, body {
    height: 100%;
    /*font: 15px Verdana, Geneva, sans-serif;*/
    font: 15px Arial, Helvetica, sans-serif;
    text-align: justify;
    cursor: default;
    background-color: #000000;
    color: #fcfcfc;
}
p,ul{margin:5px;color:#fcfcfc;}
ul li{list-style-type: none}

A:link, .link {
    color:#fcfcfc;
    text-decoration:underline
}

A:active {
    color:#4CA5C6
}

A:visited {
    color:#fcfcfc
}

A:hover, .link:hover {
    color:#4CA5C6;
    text-decoration: blink
}
.required::after{content: " *";}
#shadow{
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:999;
    background:rgba(0,0,0,0.8);
}
#up {
    width: 85px;
    border:rgba(3,109,3,.8) 2px solid;;
    border-radius: 4px;
    background: #d3ddd4;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 17px;
    right: 17px;
    cursor: pointer;
    display: none;
    color: #333;
    font-size: 90%;
    z-index:50;
}

.h_fon{
    padding:5px 0 5px 15px;
    background:#333333;
    min-height:40px;
    line-height:38px;
}

.text_fon{
    padding:25px 15px;
    min-height:40px;
    border:#333333 2px solid;
}
@media screen and (max-width:740px){
    .text_fon{padding:15px 0}
}
.h_fon_min{
    padding:5px 15px;
    background:#333333;
    min-height:33px;
    line-height:30px;
}
.h_fon_field,.h_fon_field_h{
    padding:7px;
    min-height:50px;
    width:100%;
    border-radius:0 0 7px 7px;
    border:#333333 1px solid;
}
.h_fon_field_h{display:none}

.cab_btn{
    margin:23px auto 3px;
    min-height: 40px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    line-height: 37px;
    border-radius:5px;
    cursor: pointer;
    background:#333333;
    border:#333333 1px solid;
}

.cab_btn:hover{
    color:#4CA5C6;
    border:#4CA5C6 1px solid;

}

/*таблицу сделать*/

.cab_table{
    margin:13px auto;
    display:table;
    border-spacing:3px 11px;;
    /*border:solid 2px red;*/
    /*background-color: #000000;
    box-shadow: 0 4px 10px 2px rgba(76, 165, 198,.4);*/
    width:50%;
}
@media screen and (min-width:651px) and (max-width:1000px){
    .cab_table{width:70%;}
}
@media screen and (min-width:541px) and (max-width:650px){
    .cab_table{width:80%;}
}
@media screen and (max-width:540px){
    .cab_table{width:100%;}
}
.cab_table > div:first-child{
  font-weight: bold;
}

.cab_table > div {display:table-row;}

.cab_table > div div{
    display:table-cell;
    border:solid 1px #4CA5C6;
    padding: 5px 3px;
    text-align: center;
    color:#fcfcfc;
    background:#333333;
}
/**************flag*******************/
.lng_flag{
    width: 32px;
    height: 32px;
    margin:5px;
    cursor:pointer;
    /*background-size:contain;*/
}

.fl_en{content:url("../../img/flag/en.png");}
.fl_de{content:url("../../img/flag/de.png");}
.fl_fr{content:url("../../img/flag/fr.png");}
.fl_es{content:url("../../img/flag/es.png");}
.fl_pt{content:url("../../img/flag/pt.png");}
.fl_ru{content:url("../../img/flag/ru.png");}
/**************flag end*****************/