.d_promo{
    text-align: center;
    padding: 13px 0;
    /*background-color: #0b364b;*/
}
.d_promo img{
    height:100%;
}

.d_promo_code{
    text-align: center;
    min-height:13px;
    padding: 13px 5px;
    border-radius: 7px;
    border: #333333 1px solid;
    overflow-wrap:break-word;

    width:80%;
    margin: 15px auto;
    /*background-color: #0ab59f;*/
    color: #fcfcfc;
}
input.d_promo_code {
    text-align: center;
    min-height:33px;
    padding: 13px 5px;
    border-radius: 7px;
    border: #333333 1px solid;
    overflow-wrap:break-word;
    overflow: hidden;

    opacity:1%;


    resize: none;

    width:80%;
    margin: 15px auto;
    background-color:transparent;
    color: #fcfcfc;
}
textarea.d_promo_code {
    text-align: center;
    height:100%;
    display: block;
    padding: 13px 5px;
    border-radius: 7px;
    border: #333333 1px solid;
    overflow-wrap:break-word;
    overflow: hidden;

    resize: none;

    width:100%;
    margin: 15px auto;
    background-color:transparent;
    color: #fcfcfc;
}
@media screen and (max-width:900px){
    .d_promo_code{width:100%;}
}
.area100{
    width: 80%;

}
