#in1{
    position:relative;
    height:calc(100vh - 80px);
    background:#050505 url("../../img/index/fone1.jpg") no-repeat;
    background-size:cover;
    background-position-x:50%;
    background-position-y:50%;
}#in1_l1{
    min-height:25px;
    overflow-x:hidden;
    position: absolute;
    top:32px;
    left:0;
    width: 100%;
    z-index:6;
}@media screen and (max-width:540px){#in1_l1{top:4px}}
#in1_l1 h1{
    font-size:170%;
    font-weight:normal;
}@media screen and (max-width:540px){#in1_l1 h1{font-size:140%}}

#in1_l2{
    position: absolute;
    left: 0;
    top:80px;
    width:100%;
    text-align:center;
    color:#b9cfff;
    font-size:130%;
    z-index:7;
}@media screen and (min-width:281px) and (max-width:700px){
    #in1_l2{
        font-size:110%;
        top:101px;
    }
}
@media screen and (max-width:280px){#in1_l2{font-size:110%;top:113px;}}

#in1_l3{
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background:url("../../img/index/fone_p.png") no-repeat;
    background-size:cover;
    background-position-x:50%;
    background-position-y:50%;
    z-index:5;
}
#in1_l4{
    position:absolute;
    left:0;
    top:140px;
    width:100%;
    height:33px;
    color:#fcfcfc;
    text-align:center;
    z-index:13;
}
#in1_l4_reg,#in1_l4_log{
    position: relative;
    background-color: #0ab59f;
    height:33px;
}
#in1_l4_reg{
    width:133px;
    background:#050505 url("../../img/site/button_green.png") no-repeat;
    background-size: 105% 105%;
    cursor: pointer;
    line-height:30px;
    text-align:center;
    border:rgba(3,109,3,.8) 2px solid;
    margin: 0 5px 0 0}
#in1_l4_reg:hover,#in1_l4_log:hover{
    color: #00A72D;
    box-shadow:0 0 17px 8px rgba(25,123, 56,.2);
}
#in1_l4_log{
    margin: 0 0 0 5px;
    position: relative;
    height:33px;
    width:133px;
    background:#050505 url("../../img/site/button_green.png") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    border:rgba(3,109,3,.8) 2px solid;
}

#in1_l5{
    z-index:8;
    position:absolute;
    left:0;
    top:195px;
    min-height:75px;
    width:100%;
    overflow: hidden;
    padding:5px 0;
}
.in1_l5_flax{
    color:#fcfcfc;
    height:115px;
}
.in1_l5_flax_t{
    width:16%;
    min-height:75px;
    background:#1b6d85;
    margin:0 155px;
    padding:20px 7px;
    border-radius:15px;
    background: rgba(2,2,17,.6);
    box-shadow: 0 4px 9px 2px rgb(100 149 255);
}
@media screen and (max-width:840px){.in1_l5_flax_t{margin:0 3px;width:45%}}
@media screen and (max-width:470px){.in1_l5_flax_t{padding:7px}}

#in1_l6{
    z-index:8;
    position:absolute;
    left:0;
    bottom:13%;
    width:100%;
    height:98px;
    overflow: hidden;
    color:#fcfcfc;
    padding:5px 0;
}#in1_l6 .in1_l5_flax_t{margin:0 auto}